:root {
	--filler-content: " • ";
	height: 100%;
}
body {
	color: white;
	scrollbar-width: thin;
	--easing-1: cubic-bezier(0.17, 0.67, 1, 1.26);
	--background: black;
	--section-background: #121212;
	--light-border: #464646;
	--button-background: #232323;
	--button-hover-background: #333333;
	--button-green-background: #1bd96a;
	--button-green-hover-background: #17b85a;
	--main-content-background-image-clip-path: polygon(
		-1rem -1rem,
		calc(100% + 1rem) -1rem,
		calc(100% + 1rem) calc(100% + 1rem),
		-1rem calc(100% + 1rem)
	);
	background: var(--background);
	height: 100%;
	max-height: 100vh;
}

#__nuxt {
	height: 100%;
}

dialog {
	animation: dialog-open 250ms forwards ease-in-out;
}
::backdrop {
	background: #000000c0;
}

ul {
	@apply list-disc ml-6;
}

@keyframes dialog-open {
	from {
		transform: translateY(30px) scale(0.75);
	}
}

*::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

a:hover {
	@apply underline;
}

*::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

@font-face {
	font-family: "YTSans";
	src: url("/yt.woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "YTSans";
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.25rem;
}

h4 {
	@apply text-sm;
}

input {
	@apply rounded-full h-fit py-1 px-2 text-white min-w-0;
	background: var(--button-hover-background);
}

pre,
code {
	@apply whitespace-pre-wrap break-words;
	font-family: monospace;
	span {
		font-family: inherit;
	}
}
pre.light,
code.light {
	color: #abb2bf;
	.string {
		color: #7ac379;
	}
	.number {
		color: #d19a66;
	}
	.boolean {
		color: #61afef;
	}
	.null {
		color: #c678dd;
	}
	.key {
		color: #e06c75;
	}
}
pre.dark,
code.dark {
	color: #dae2f1;
	.string {
		color: #7ac379;
	}
	.number {
		color: #d19a66;
	}
	.boolean {
		color: #61afef;
	}
	.null {
		color: #c678dd;
	}
	.key {
		color: #e06c75;
	}
}
